*/*/SendRoot
*/*/Datalogger
*/*/GraphMaker
*/*/PIDMaker
*/*/PanelMaker
*/*/KEYB2Maker

*$*
*.lih
*.map
*.hwc
*.DSK
*.bak
*.mlh
*.p2b
*._m_
*.mas
*.origin
*.big
*.webx
*.orig
*.myBak
*.pch
*.prg
*.pub
*.MWB
*.duh
*.hwn
*usrvoc*